<?xml version="1.0"?>
<robot name="armrobot_base">
    <link name="base_link">
        <visual name="armrobot_base">
            <origin rpy="0.000000 -1.570796 0.000000" xyz="0.063718 -0.064052 0.060225" />
            <geometry>
                <mesh filename="test07_robot_base_vis_1.dae" />
            </geometry>
            <material name="robot_base_material">
                <color rgba="0.900000 0.900000 0.900000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="continuous" name="Revolute_joint">
        <axis xyz="0 0 1" />
        <parent link="base_link" />
        <child link="shoulder" />
        <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.064000 -0.063000 0.115000" />
    </joint>
    <link name="shoulder">
        <visual name="shoulder">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="-0.064000 0.063000 -0.115000" />
            <geometry>
                <mesh filename="test07_shoulder_vis_1.dae" />
            </geometry>
            <material name="shoulder_material">
                <color rgba="1.000000 1.000000 1.000000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="continuous" name="Revolute_joint_2">
        <axis xyz="0 0 1" />
        <parent link="shoulder" />
        <child link="upperarm" />
        <origin rpy="0.000000 1.570796 0.000000" xyz="0.002000 -0.001000 0.043000" />
    </joint>
    <link name="upperarm">
        <visual name="upperarm">
            <origin rpy="0.000000 -1.570796 0.000000" xyz="0.158000 0.064000 -0.066000" />
            <geometry>
                <mesh filename="test07_upperarm_vis_1.dae" />
            </geometry>
            <material name="upperarm_material">
                <color rgba="1.000000 1.000000 1.000000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="continuous" name="Revolute_joint_3">
        <axis xyz="0 0 1" />
        <parent link="upperarm" />
        <child link="forearm" />
        <origin rpy="-3.141593 3.141593 -3.141593" xyz="-0.140000 0.000000 0.001000" />
    </joint>
    <link name="forearm">
        <visual name="forearm">
            <origin rpy="0.000000 -1.570796 0.000000" xyz="0.298000 0.064000 -0.067000" />
            <geometry>
                <mesh filename="test07_forearm_vis_1.dae" />
            </geometry>
            <material name="forearm_material">
                <color rgba="1.000000 1.000000 1.000000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="continuous" name="Revolute_joint_4">
        <axis xyz="0 0 1" />
        <parent link="forearm" />
        <child link="Cylinder" />
        <origin rpy="-3.141593 3.141593 -3.141593" xyz="-0.145000 0.000000 -0.003000" />
    </joint>
    <link name="Cylinder">
        <visual name="Cylinder">
            <origin rpy="0.000000 -1.570796 0.000000" xyz="-0.003000 0.000000 0.001000" />
            <geometry>
                <cylinder length="0.01" radius="0.005" />
            </geometry>
            <material name="Cylinder_material">
                <color rgba="0.850000 0.850000 1.000000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="continuous" name="Revolute_joint_5">
        <axis xyz="0 0 1" />
        <parent link="Cylinder" />
        <child link="frameandcameramount" />
        <origin rpy="0.000000 -1.570796 0.000000" xyz="0.018000 0.000000 0.001000" />
    </joint>
    <link name="frameandcameramount">
        <visual name="frameandcameramount">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="-0.065000 0.064000 -0.425000" />
            <geometry>
                <mesh filename="test07_frameandcameramount_vis_1.dae" />
            </geometry>
            <material name="frameandcameramount_material">
                <color rgba="1.000000 1.000000 1.000000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="continuous" name="Revolute_joint_6">
        <axis xyz="0 0 1" />
        <parent link="frameandcameramount" />
        <child link="rightbottomouter" />
        <origin rpy="1.570796 3.141593 -3.141593" xyz="0.046000 0.001000 0.058000" />
    </joint>
    <link name="rightbottomouter">
        <visual name="rightbottomouter">
            <origin rpy="-1.570796 3.141595 2.872343" xyz="-0.007160 -0.026834 -0.001051" />
            <geometry>
                <mesh filename="test07_rightbottomouter_vis_1.dae" />
            </geometry>
            <material name="rightbottomouter_material">
                <color rgba="0.900000 0.900000 0.900000 1.0" />
            </material>
        </visual>
        <visual name="rightbottomouter">
            <origin rpy="-1.570796 3.141595 2.872343" xyz="-0.007160 -0.026834 -0.001051" />
            <geometry>
                <mesh filename="test07_rightbottomouter_vis_2.dae" />
            </geometry>
            <material name="rightbottomouter_material">
                <color rgba="0.900000 0.900000 0.900000 1.0" />
            </material>
        </visual>
        <visual name="rightbottomouter">
            <origin rpy="-1.570796 3.141595 2.872343" xyz="-0.007160 -0.026834 -0.001051" />
            <geometry>
                <mesh filename="test07_rightbottomouter_vis_3.dae" />
            </geometry>
            <material name="rightbottomouter_material">
                <color rgba="0.900000 0.900000 0.900000 1.0" />
            </material>
        </visual>
    </link>
    <joint type="continuous" name="Revolute_joint_7">
        <axis xyz="0 0 1" />
        <parent link="frameandcameramount" />
        <child link="leftfinger" />
        <origin rpy="1.570796 3.141593 -3.141593" xyz="-0.045000 0.001000 0.058000" />
    </joint>
    <link name="leftfinger">
        <visual name="leftfinger">
            <origin rpy="1.570796 -1.570796 0.000000" xyz="0.024911 -0.086343 -0.001051" />
            <geometry>
                <mesh filename="test07_leftfinger_vis_1.dae" />
            </geometry>
            <material name="leftfinger_material">
                <color rgba="0.900000 0.900000 0.900000 1.0" />
            </material>
        </visual>
        <visual name="leftfinger">
            <origin rpy="1.570796 -1.570796 0.000000" xyz="0.024911 -0.086343 -0.001051" />
            <geometry>
                <mesh filename="test07_leftfinger_vis_2.dae" />
            </geometry>
            <material name="leftfinger_material">
                <color rgba="0.900000 0.900000 0.900000 1.0" />
            </material>
        </visual>
        <visual name="leftfinger">
            <origin rpy="1.570796 -1.570796 0.000000" xyz="0.024911 -0.086343 -0.001051" />
            <geometry>
                <mesh filename="test07_leftfinger_vis_3.dae" />
            </geometry>
            <material name="leftfinger_material">
                <color rgba="0.900000 0.900000 0.900000 1.0" />
            </material>
        </visual>
    </link>
</robot>
