<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_nominal_extrinsics" default="false"/>
  <xacro:include filename="$(find arm_robot_description)/urdf/_d405.urdf.xacro" />
  
  <link name="base2_link" />
  <xacro:sensor_d405 parent="camera_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <!-- <origin xyz="0 0 0.00129" rpy="0 -1.5707963268 -1.5707963268"/> --> <!-- consider using this one to reposition and orient pointcloud correctly?-->
  </xacro:sensor_d405>
</robot>
